.main {
	max-width: 95%;
	margin: 0 auto;
}

.product-section {
	display: grid;
}

.product-wrapper {
	overflow: hidden;
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 3rem;
	row-gap: 3rem;
}
